
@model Project.Models.Paper

@{
                /**/


                ViewBag.Title = "Uoload Paper";
}

<!DOCTYPE html>

<html>
<body>
    @using (Html.BeginForm("PaperLoad", "Paper", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="main">
            <div class="container">
                <div class="dlt-container">

                    <div class="dlt-info">
                        <h2 style="color:white;">Please upload your Paper</h2>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PaperName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PaperName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PaperName, "", new { @class = "text-danger" })
                            </div>
                        </div><br />
                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.PublisherId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PublisherId, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.PublisherId } })
                                @Html.ValidationMessageFor(model => model.PublisherId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" hidden>
                            @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToShortDateString() } })
                                @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-10">
                                <input type="file" name="FilePost" class="btn-dlt" />
                                @Html.ValidationMessageFor(model => model.PaperFile, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn-dlt" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    }
</body>
</html>