@model IEnumerable<Project.Models.Paper>

@{

    ViewBag.Title = "Papers";
}

<!DOCTYPE html>

<html>

<body>
    <div class="table-container">
        <table class="keywords">
            <thead>
                <tr>
                    <th><span>Paper</span></th>
                    <th><span>Comments</span></th>
                    <th><span>Likes</span></th>
                    <th><span>Participated authors</span></th>
                    <th><span>Details</span></th>
                    <th><span>Published Date</span></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="Name" onclick="location.href='@Url.Action("Download", "Paper", new {Name = item.PaperFile })'">
                            <a>@Html.DisplayFor(modelItem => item.PaperName)</a>
                        </td>

                        <td>
                            <a>@Html.ActionLink("View Comments", "ViewComment", new { id = item.PaperId })</a>
                        </td>

                        <td>
                            <a>@Html.ActionLink("View Likes", "ViewLikes", new { id = item.PaperId })</a>
                        </td>

                        <td>
                            <a>@Html.ActionLink("Participats", "PaperTag", new { id = item.PaperId })</a>
                        </td>

                        <td>
                            <a>@Html.ActionLink("Details", "Details", new { author = item.PublisherId, paper = item.PaperId })</a>
                        </td>

                        <td>
                            <a>@Html.DisplayFor(modelItem => item.PublishDate)</a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</body>

</html>
